// .string-visible{
//     padding-left: 5px;
//     padding-top: 5px;
// visibility: hidden;
// }
.string-visible{
    padding-left: 5px;
    padding-top: 5px;

}
.heading-container {
  margin-bottom: 10rem;
}
.text-box{
     border-radius: 6px;
    border: 1px solid gray;
    width: 20px;
}
.keyboard-containe{
    margin-top:  100px;
}

.svg-container{
    width: 30%;
    background-color: lightgray;
}
.button-container{
  width: 70%;
}
.string-hidden{
  border-radius: 6px;
  visibility: hidden;
    border: 1px solid gray;
    width: 20px;
    background-color:   solid gray;
}

.key-input {
  width: 1.75rem;
  height: 2rem;
  border: 2px solid whitesmoke;
  text-align: center;
  line-height: 2rem;
  font-weight: 600;
  border-radius: 0.25rem;
}
.key-input-empty{
  width: 2.75rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-weight: 600;
  border-radius: 0.25rem;
}
.key-input-hidden {
  background-color: gray;
  width: 1.75rem;
  height: 2rem;
  border: 2px solid whitesmoke;
  text-align: center;
  line-height: 2rem;
  font-weight: 600;
  border-radius: 0.25rem;
}
.rope-style{
stroke: black;
 stroke-width: 1;
}

.hide-input {
  display: none;
}

.first-row, .second-row, .third-row {
  width: 100%;
}
.randomword{
  width: 100%;
  margin: 10px;
}